@import "_variables.scss";

html {
  font-size: 62.5%;
  padding: 0rem;
  margin-top: 0rem;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
  height: auto;
  background-color: $skyblue;
}
.contain{
  display: flex;
  justify-content: row;
}
.footer .col {
  width: 25rem;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 3rem 0 5rem 6rem;
  @include phone{
    padding: 2rem 0rem 2rem 4rem;
    width: 10rem;
  }
  @include tablet{
    padding: 2rem 0rem 4rem 5rem;
  }
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: "Quando", serif;
  font-size: 3rem;
  line-height: 7rem;
  color: $white;
  text-transform: uppercase;
  @include phone{
    font-size: 1.4rem;
    line-height: 4rem;
    margin: -2px;
  }
  @include tablet{
    font-size: 2.5rem;
  }
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: $navyblue;
  font-size: 2rem;
  font-family: "Quando", serif;
  font-weight: bold;
  padding: 1.2rem 0 0 0;
  cursor: pointer;
  @include phone{
    font-size: 1.2rem;
  }
  @include tablet{
    font-size: 2rem;
  }
}
.footer .col ul li:hover {
  color: $white;
  transform: translateX(1rem);
  transition: .3s;
}
.social-icons{
  font-size: 3rem;
  color: $navyblue;
  padding-right: 1rem;
  @include phone{
    margin-top: 25%;
  }
}
.social-icons:hover {
  color: $white;
  transition: .3s;
}
.social{
  @include phone{
    margin-top: auto;
    margin-bottom: auto;
  }
}
.gtfo{
  @include phone{
    display: none;
  }
}