@import "_variables.scss";
html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow-x: hidden;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: 	#D4AF37;
  }
  
  
  .loader {
    margin-top: 15rem;
    animation: spin 2s linear infinite;
    
  }
  
  @keyframes spin {
      0% { transform: scale(1); }
      50% { transform: scale(1.1); }
      100% { transform: scale(1); }
   }
  #loader {
    display: flex;
    justify-content: center;
    margin: auto;
    animation: spin 2s linear infinite;
    margin-top: 15rem;
  
  }
  
  #myDiv {
    display: none;
    text-align: center;
    animation: fadeInAnimation ease 3s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  
  } 
  
  @keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
  } 