@import "_variables.scss";

.partTwo {
  height: 300vh;
}

.pageTwoTitle {
  color: color(dark-main-color);
  top: 4rem;
  font-size: 2rem;
  position: absolute;
  text-align: end;
  width: 100%;
  margin-left: -1.2rem;
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300vh;
}

.individual-news-image {
    margin-bottom: -8rem;
}

.news-images {
  width: 20rem;
  height: 20rem;
  border: .4rem solid black;
  margin: 1rem;  
}


.news-box {
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0% 100%);
    background-color: rgba(color(main-color), 1);
    position: relative;
    top: -40%;
    width: 21rem;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    left: .9rem;
    height: 6rem;
}

.news-label {
    top: 2.75rem;
    position: relative;
}