@import "_variables.scss";

.pageThree {
  height: 85vh;
  background-color: color(main-color);
  font-family: 'Raleway', sans-serif;
  @include tablet {
    height: 100vh;
  }
  @include laptop {
    height: 100vh;
  }
  @include desktop {
    margin-top: 50rem;
    height: 100vh;
  }
}

.books-image{
  height: 60rem;
  width: 30rem;
  margin-top: 4rem;
  position: relative;
  @include tablet {
    height: 90vh;
    width: 120vh;
  }
  @include laptop {
    height: 90vh;
    width: 130vh;
  }
  @include desktop {
    height: 90vh;
    width: 190vh;  
  }
}

.shadow-box {
  height: 60rem;
  width: 30rem;
  margin-top: -74vh;
  background-color: rgba(43, 43, 43, 0.68);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    height: 90vh;
    width: 50vh;
    margin-top: -90vh;
    margin-left: 7vh;
  }
  @include laptop {
    height: 90vh;
    width: 50vh;
    margin-top: -90vh;
    margin-left: 17vh;
  }
  @include desktop {
    top: -16vh;
    height: 90vh;
    width: 80vh;
    margin-left: 8vh;
  }
}

.shadow-title {
  font-size: 4rem;
  position: absolute;
  color: white;
  margin-top: 6rem;
  @include tablet {
    width: 50vh;
  }
  @include laptop {
    font-size: 7rem;
    width: 50vh;
  }
  @include desktop {
    margin-top: 5rem;
    font-size: 6rem;
  }
}

.shadow-content {
  position: absolute;
  font-size: 2rem;
  top: 22vh;
  color: white;
  padding: 3rem;
  @include tablet {
    font-size: 2.5rem;
  }
  @include laptop {
    font-size: 3.5rem;
    top: 28vh;
  }
  @include desktop {
    font-size: 3rem;
    padding: 8rem;
  }
}

.read-story  {
  position: relative;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 1rem;
  top: 62vh;
  @include tablet {
    top: 70vh;
  }
  @include laptop {
    top: 81vh;
  }
  @include desktop {
    top: 78vh;
  }
}