@import "_variables.scss";


.pageTwoTitle {
  color: color(dark-main-color);
  top: 4rem;
  font-size: 2rem;
  position: absolute;
  text-align: end;
  width: 100%;
  margin-left: -1.2rem;
  @include tablet {
    margin-left: -2.5rem;
    font-size: 3rem;
    top: 3rem;
  }
  @include laptop {
    margin-left: -4.5rem;
    top: 6rem;
    font-size: 3rem;
  }
}

.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300vh;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: space-evenly;
    padding-top: 8rem;
  }
  @include laptop {
    flex-direction: row;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: space-evenly;
    padding-top: 10rem;
  }
}

.individual-news-image {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 20rem;
    height: 20rem;
    border: .4rem solid black;
    @include tablet {
      width: 17rem;
      height: 17rem;
    }
}


.news-images {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  @include tablet {
    width: 17rem;
    height: 17rem;
  }
}


@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.news-images:hover, .news-images:focus, .news-images:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.news-box {
    clip-path: polygon(0 40%, 100% 40%, 100% 100%, 0% 100%);
    background-color: rgba(color(main-color), 1);
    position: relative;
    top: -50%;
    width: 20rem;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    height: 6rem;
    @include tablet {
      width: 17rem;
    }
}

.news-label {
    top: 2.75rem;
    position: relative;
    @include tablet {
      top: 3.2rem;
      font-size: 1.5rem;
    }
}