@import "_variables.scss";

.pageFour {
  margin-top: -2rem;
  @include tablet {
    margin-top: 0rem;
  }
  @include laptop {
    margin-top: 0rem;
  }
  @include desktop {
    margin-top: 0rem;
  }
}
.events-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  @include laptop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0rem;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem;
  }
}
.events-title {
  padding: 1.5rem;
  width: 30rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: $gold;
  text-align: center;
  background-color: $black;
  @include tablet {
    width: 94rem;
  }
  @include laptop {
    padding: 3rem;
    width: 100vw;
    font-size: 4rem;
  }
  @include desktop {
    padding: 3rem;
    width: 100vw;
    font-size: 4rem;
  }
}
.event-one,
.event-two,
.event-three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.event-description {
  width: 21.8rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: $black;
  border: 2px solid $gold;
  margin-top: auto;
  margin-left: 1.5rem;
  padding: 1.75rem 0.5rem 1.75rem 0.5rem;
  @include tablet {
    width: 85.7rem;
    font-size: 2rem;
  }
  @include laptop {
    width: 17rem;
    font-size: 2rem;
    border: 4px solid $main-color;
    margin-top: 0.5rem;
    margin-left: -1.5rem;
    padding: 0.5rem;
  }
  @include desktop {
    width: 25rem;
    font-size: 2.5rem;
    border: 4px solid $main-color;
    margin-top: 0.5rem;
    margin-left: -1rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }
}
.outer {
  position: relative;
  top: 50%;
  z-index: 1;
}
.signboard {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.5rem;
  color: $main-color;
  @include laptop {
    width: 10rem;
    height: 14rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  @include desktop {
    width: 14rem;
    height: 14rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}
.front {
  z-index: 3;
  background: $main-color;
  text-align: center;
  border: 2px solid $main-color;
}
.month {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $black;
  @include laptop {
    font-size: 2.5rem;
  }
  @include desktop {
    font-size: 2.5rem;
  }
}
.date {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: $black;
  margin-top: -1.3rem;
  background-color: $main-color;
  @include laptop {
    margin-top: -2.5rem;
    font-size: 5rem;
  }
  @include desktop {
    margin-top: -2.5rem;
    font-size: 5rem;
  }
}
.more-events {
  list-style-type: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: start;
  color: $black;
  background-color: $main-color;
  width: 31rem;
  padding: 1rem;
  text-decoration: underline;
  @include tablet {
    width: 95rem;
  }
  @include laptop {
    font-size: 2rem;
    text-align: center;
    height: 7.9rem;
    width: 7.5rem;
    background-color: $main-color;
    margin-top: -1.1rem;
    padding: 1.5rem;
    padding-top: 5rem;
    text-decoration: none;
  }
  @include desktop {
    font-size: 3rem;
    text-align: center;
    height: 8rem;
    width: 20rem;
    background-color: $main-color;
    margin-top: -1.3rem;
    padding: 1.5rem;
    padding-top: 5rem;
    text-decoration: none;
  }
}
.more-events:hover {
  cursor: pointer;
  transform: translateX(1rem);
  transition: 0.3s;
  @include laptop {
    transform: translateY(1rem);
  }
  @include desktop {
    transform: translateY(1rem);
  }
}
