@import "_variables.scss";

.body {
    margin: 0rem;
}

.black-bar {
    background-color: black;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 9;
    @include tablet {
        height: 7rem;
    }
    // @include desktop {
    //     height: 4rem;
    // }
}
.logo{
    width: 25%;
    position: fixed;
    left: 1.5rem;
    top: 1rem;
    z-index: 10;
    @include tablet {
    top: .5rem;
    width: 15%;
    }
}

.drawer-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0;
    background: color(main-color);
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 0s;
    transform-origin: right center;
    transform: perspective(31.25rem) rotateY(-90deg);
    opacity: 0;
}

.drawer-menu .navigation {
    text-align: center;
}

.drawer-menu .navigation a {
    display: block;
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 2rem;
    color: black;
    transition: all .8s;
    text-decoration: none;
    // @include tablet {
    //     font-size: 2rem;
    //    }
    //    @include laptop {
    //      font-size: 2.3rem;
    //    }
    //    @include desktop {
    //      font-size: 2rem;
    //  }
}

.check {
    display: none;
}

.menu-btn {
    position: fixed;
    display: block;
    top: 1.2rem;
    right: -1rem;
    display: block;
    width: 5rem;
    height: 5rem;
    z-index: 10;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 2rem;
    height: 5px;
    background: white;
    transition: all .5s;
    transform-origin: left top;
}

.bar.middle {
    top: .6rem;
    opacity: 1;
}

.bar.bottom {
    top: 1.25rem;
    transform-origin: left bottom;
}

.check:checked ~ .drawer-menu {
    transition-delay: .3s;
    transform: none;
    opacity: 1;
    z-index: 2;
}

.check:checked ~ .menu-btn .bar.top {
    width: 3rem;
    transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
    opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
    width: 3rem;
    top: 2rem;
    transform: rotate(-45deg);
}

ul {
    padding-inline-start: 0rem;
}
